{% extends "base.html" %}

{% block title %}
    {% if post %}
        Редактировать пост
    {% else %}
        Новый пост
    {% endif %}
{% endblock %}

{% block content %}
{% load user_filters %}

    <div class='row justify-content-center'>
        <div class='col-md-8 p-5'>
            <div class='card'>

                {% if post %}

                <div class='card-header'>Редактирование поста</div>
                <div class='card-body'>
                <form method='post' action='{% url 'post_edit' author.username post.id %}' enctype="multipart/form-data">

                {% else %}

                <div class='card-header'>Новый пост</div>
                <div class='card-body'>
                <form method='post' action='{% url 'new_post' %}' enctype="multipart/form-data">

                {% endif %}

                {% csrf_token %}

                    {% for field in form %}

                        <div class="form-group row" aria-required={% if field.required %}"true"{% else %}"false"{% endif %}>
                                <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}
                                    {% if field.required %}<span class="required">*</span>{% endif %}</label>

                                <div class="col-md-6">

                                    {{ field|addclass:"form-control" }}
                                    {% if field.help_text %}
                                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}

                                </div>
                        </div>

                    {% endfor %}

                    {% if post %}

                        <div class='col-md-6 offset-md-4'>
                            <button type='submit' class='btn btn-primary'>
                                Редактировать пост
                            </button>
                        </div>

                    {% else %}

                        <div class='col-md-6 offset-md-4'>
                            <button type='submit' class='btn btn-primary'>
                                Новый пост
                            </button>
                        </div>

                    {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
